:root {
  --color-text-light: #1b1b32;
  --background-color-light: #f5f6f7;
  --color-text-dark: #f5f6f7;
  --background-color-dark: #1b1b32;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background-color: var(--background-color-light);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--background-color-dark);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(23, 23, 23, 0.5);
  }
}

/* Barra de Navegacion */

.navbar {
  background-color: var(--background-color-dark);
  box-shadow: 10px 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: var(--color-text-dark);
  filter: opacity(95%);
  -webkit-filter: opacity(95%);
  height: 5rem;
  padding: 2rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-weight: 600;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.nav-link:hover {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
  -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
  margin: 2px;
  padding: 4px;
  text-decoration: 2px underline;
  text-underline-offset: 6px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.nav-bar-background {
  background-color: var(--background-color-dark);
}

.container-img-lion {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}


.container-img-lion:hover {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
}

.lion{
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}

.lion:hover {
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1));
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1));
}

/* Estilos Generales */

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10rem;
}

h1 {
  font-family: "Rubik Dirt", system-ui;
  font-size: 2.5rem;
}

.seccion-oscura {
  background-color: var(--background-color-dark);
  color: var(--color-text-dark);
}

.seccion-clara {
  background-color: var(--background-color-light);
  color: var(--color-text-light);
}

.seccion-titulo {
  font-family: "Rubik Dirt", system-ui;
  font-size: 2rem;
  padding: 15px 0;
}

.seccion-descripcion {
  color: #584e4e;
  font-size: 1.2rem;
}

.seccion-texto {
  font-size: 1.2rem;
  overflow-wrap: break-word; /* Utiliza overflow-wrap en lugar de text-wrap */
  text-align: justify; /* Utiliza text-align en lugar de text-justify */
}

.texto-negro {
  color: var(--color-text-light);
}

.texto-blanco {
  color: var(--color-text-dark);
}

/* Seccion Heroe */

.hero {
  background-color: var(--background-color-light);
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 5rem 40px 60px 40px;
}

.experiencia .columna {
  align-items: center;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 140px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  background-color: var(--background-color-dark);
  color: var(--color-text-dark);
}

.columna:hover i {
  background-color: var(--background-color-light);
}

.experiencia i {
  background-color: var(--background-color-dark);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #7ade30;
  font-size: 2.5rem;
  padding: 8px 19px;
}
columna img {
  height: 20%;
  width: 20%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.experiencia-parrafo {
  overflow-wrap: break-word;
  text-align: justify;
}

.badges-contenedor {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.carousel {
  max-width: 1200px;
}

.button-carousel {
  background-color: var(--background-color-dark);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--color-text-dark);
  font-weight: bold;
  height: 3rem;
  line-height: 6rem;
  top: 12rem;
  width: 3rem;
}

.badge {
  margin: 5px;
  padding: 10px;
}

.hero-image-desarrollador {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 180px;
  margin: 20px;
  width: 180px;
}

.hero-principal h2 {
  color: #615151;
  font-size: 1.5rem;
}

.proyectos-recientes {
  padding: 40px;
  padding-bottom: 14rem;
}

.proyectos-recientes img {
  border-radius: 10px;
  display: block;
  height: 100%;
  padding: 10px;
  transition: all 0.2s ease;
  width: 100%;
}

.proyectos-contenedor {
  margin-bottom: 40px;
  padding-top: 60px;
}

.overlay {
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}
.iconos-contenedor {
  display: flex;
}

/* Seccion Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
  margin-top: -17rem;
}

.contacto .row {
  align-items: center;
  display: flex;
  width: 100%;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 1.25em 2em;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  border: 2px solid var(--color-text-light);
  box-shadow: 0px 0px 16px rgba(255, 255, 255, 1);
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Seccion Footer */

.footer {
  height: 10rem;
}
.btn-redes-sociales {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  margin: 0 6px;
  user-select: none;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7) inset;
  padding: 0.5rem 2.2rem;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 1);
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
  }
  a{
    text-decoration: none;
  }
}

.linkedin {
  color: var(--color-text-dark);
}
.github {
  color: var(--color-text-dark);
}

.social-link:hover {
  filter: drop-shadow(0px 0px 8px rgba(255,255,255,1))
}
.contacto-footer{
  font-size: 1.2rem;
  font-weight: 700;
}
.flecha-arriba {
  position: fixed;
  bottom: 40px; /* Distancia desde la parte inferior */
  right: 40px; /* Distancia desde el lado derecho */
}

.flecha:hover {
  filter: drop-shadow(0px 0px 8px rgba(255,255,255,1))
}
.mail {
  color: var(--color-text-dark);
  text-decoration: none;
  &:hover {
    color: blue;
}
}

.texto-btn-redes {
  font-weight: 600;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.btn-redes-sociales:hover .github {
  color: #171515;
  font-weight: 700;
  font-size: 1.1rem;
}

.btn-redes-sociales:hover .linkedin {
  color: #0e76a8;
  font-weight: 700;
  font-size: 1.1rem;
}

.btn-redes-sociales:hover .img-redes {
  animation: shake infinite ease;
}

@keyframes shake {
  0% {
    transform: translateX(2px) rotate(5deg);
  }
  25% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(2px) rotate(5deg);
  }
  75% {
    transform: translateX(-2px) rotate(-5deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}
/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
  .button-carousel {
    top: 2.2rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 2rem;
  }
  .experiencia .columna {
    align-items: center;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 10px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
  }
  .button-carousel {
    top: 2.2rem;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
